.body {
    background-color: #191970;
}
}
#intro {
    position: relative;
    font-size: 40px;
    padding-left: 15%;
    padding-top: 15%;
    color: greenyellow;
    
}
#name {
    position: relative;
    font-size: 75px;
    padding-left: 20%;
    padding-top: 0%;
    color: ivory;
}
.bio {
    font-size: 25px;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    color: #FFB6C1;
}